<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChinookWeb-e4ab1c25-35ce-47a2-8b9b-7e0b96680053;AttachDbFilename=|DataDirectory|\aspnet-ChinookWeb-e4ab1c25-35ce-47a2-8b9b-7e0b96680053.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chinook;Integrated Security=true" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>